[Unit]
Description="D. Scott Boggs' resume site"
Requires=docker-public-network.service
RequiresMountsFor=/media/deployments/minimal-resume

[Service]
ExecStartPre=/media/deployments/minimal-resume/update.sh
ExecStart=/usr/bin/docker run minimal-resume

[Install]
WantedBy=multi-user.target
