[Unit]
Description="D. Scott Boggs' resume site"
Requires=docker-public-network.service
RequiresMountsFor=/media/deployments/minimal-resume

[Service]
Restart=on-failure
RestartSec=5
ExecStart=/media/deployments/minimal-resume/run.sh

[Install]
WantedBy=multi-user.target
