#panel1,#panel2,#panel3,#panel4,#panel5,#panel6,#flip1,#flip2,#flip3,#flip4,#flip5,#flip6{
		padding:5px;
		text-align:right;
		background-color:#FFF;
		border:none;
		font-size:2em;
		font-weight:bold;
	}
	#flipped1{
		padding:5px;
		text-align:right;
		background-color:#FFF;
		border:none;
		font-size:2em;
		font-weight:bold;
	}
	#panel1,#panel2,#panel3,#panel4,#panel5,#panel6{
		font-size:1.15em;
		padding:15px;
		display:none;
		text-align:left;
		font-weight:normal;
	}
	#flip2A,#flip2B,#flip2C,#flip2D{
		padding:15px;
		text-align:right;
		background-color:#FFF;
		border:none;
		font-size:1.5em;
		font-weight:bold;
	}
	#panel2A,#panel2B,#panel2C,#panel2D{
		font-size=1em;
		padding=50px;
		display:none;
		text-align:left;
	}
	body{
		font-family:courier,sans-serif;
		margin-left:15%;
		width:65%;
	}
	head{
		text-align:left;
		font-weight:normal;
	}
	h1{
		margin-bottom:-.5em
	}
	a{
		color:#000;
		text-decoration:underline;
	}
	em{
		font-weight:bold;
	}
