@font-face{
    font-family: "Quicksand";
    src: url('Quicksand-Medium.ttf');
    }
@font-face{
    font-family: "Worksans";
    src: url('WorkSans-Regular.ttf');
}
@keyframes hidepanel {
    from {
        opacity:        100%
    }
    to {
        opacity: 0;
    }
}
@keyframes showpanel {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}

@keyframes titleUnselectedAnimation {
    from{
        color: #FED;
        background-color: #013;
    }
    to {
        color: #013;
        background-color: #FED;
    }
}
@keyframes titleSelectedAnimation {
    from{
        color: #013;
        background-color: #FED;
    }
    to {
        color: #FED;
        background-color: #013;
    }
}

#intro{
    display:inline;
    width:60%;
    text-align:right;
}
div#header{
    text-align:left;
    font-weight:normal;
    padding-left:15%;
}
h1,h3{
    font-family:Worksans,sans-serif;
}
h1{
    font-size: 2em;
    margin-bottom:-.6em;
}
h3{
    font-size: 1.35em;
}
a{
    color:#036;
    text-decoration:underline;
}
em{
    font-weight:bold;
}
html{
    background:#FED;
    color:#013;
}
div.MainContentWrapper{
    position: absolute;
    margin-top: 0;
    margin-left: 0;
    width: 99%;
}
