	div.flip{
		position:relative;
		padding:5px;
		text-align:right;
		background-color:#FFF;
		border:none;
		font-size:2em;
		font-weight:bold;
	}
	div.flipped{
		position:relative;
		padding:5px;
	/*	margin-top:-2em;	*/
		text-align:right;
		background-color:#FFF;
		border:none;
		font-size:2em;
		font-weight:bold;
		display:none; /* by default */
	/*	z-index:-1;			*/
	}
	div.panel{
		font-size:1.15em;
		padding:5px;
		display:none;
		text-align:left;
		font-weight:normal;
	}
	#intro{
		display:inline;
		width:60%;
		text-align:right;
	}
	div.subflip{
		padding:5px;
		text-align:right;
		background-color:#FFF;
		border:none;
		font-size:1.5em;
		font-weight:bold;
		font-style:italic;
	}
	div.subflipped{
		padding:5px;
		text-align:right;
		background-color:#FFF;
		font-size:1.5em;
		font-weight:bold;
		font-style:italic;
		display:none;
	}
	div.subpanel{
		font-size:1em;
		padding:50px;
		display:none;
		text-align:left;
	}
	body{
		position:absolute;
		font-family:courier,sans-serif;
		margin-left:15%;
		width:65%;
	}
	head{
		text-align:left;
		font-weight:normal;
	}
	h1{
		margin-bottom:-.5em
	}
	a{
		color:#000;
		text-decoration:underline;
	}
	em{
		font-weight:bold;
	}
