# docker-compose.yaml
version: "2"
volumes:
  reverse_proxy-vhost.d:
  reverse_proxy-webroot:
  reverse_proxy-certs:
  #nextcloud-database:
services:
  nginx-proxy:    # reverse proxy
    image: jwilder/nginx-proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "/run/docker.sock:/tmp/docker.sock:ro"
      - reverse_proxy-vhost.d:/etc/nginx/vhost.d
      - reverse_proxy-webroot:/usr/share/nginx/html
      - reverse_proxy-certs:/etc/nginx/certs

  letsencrypt-nginx-proxy-companion: # should automatically handle
    image: jrcs/letsencrypt-nginx-proxy-companion #letsencrypt config
    volumes:
      - "/run/docker.sock:/var/run/docker.sock:ro"
    volumes_from:
      - nginx-proxy
    environment:
      ACME_CA_URI: https://acme-staging.api.letsencrypt.org/directory

  resume:         # my resume
    build: .
    environment:
      VIRTUAL_HOST:       fzpch.tams.tech
      DEFAULT_HOST:       fzpch.tams.tech
      LETSENCRYPT_HOST:   fzpch.tams.tech
      LETSENCRYPT_EMAIL:  sysadmin@tams.tech
    volumes:
      - ./resume/:/usr/share/nginx/html
