@font-face{
    font-family: "Quicksand";
    src: url('Quicksand-Medium.ttf');
    }
@font-face{
    font-family: "Worksans";
    src: url('WorkSans-Regular.ttf');
}
h1{
    margin-bottom:-.5em
}
a{
    color:#036;
    text-decoration:underline;
}
em{
    font-weight:bold;
}
